name: mt_task_manager_app_12105
description: "A new Flutter project for Task Management using BAAS with no backend dependency"
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ">=2.19.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.5
  parse_server_sdk_flutter: ^3.1.3
  connectivity_plus: ^2.3.9
  package_info_plus: ^1.4.3+1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.1

flutter:
  uses-material-design: true
